.main-section{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.main-offer{
    background-color: #E5E5E5;
    width: 32rem;
    height: 60rem;
    margin-top: -4.2rem;
    z-index: -1;
}

.offer-images{
   background-color: #C4C4C4; 
   width: 52.3rem;
   height: 60rem;
   margin-top: -4.2rem;
   z-index: -1;
}

.offer-content{
    width: 27rem;
    height: 30rem;
    margin-left: 1rem;
}

.offer-title{
    width: 19rem;
    margin-left: 5rem;
    margin-top: 10rem;
}

.price{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left:5rem;
}

.product-description{
    color: #9C9696;
    margin-left: 5rem;
    margin-top: 1rem;
}

.offer-content h2{
    font-size: 3.5rem;
    white-space: wrap;
}

.offer-content button{
    background-color: #FF0000;
    border: none;
    width: 14rem;
    height: 5rem;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

.main-image{
    margin-top: 10rem;
    margin-left: 8rem;
}

.secondary-images{
    margin-left: 2.1rem;
    width: 50rem
}

.secondary-images img{
    width: 15rem;
    height: 10rem;
}

.img-two,
.img-three{
    margin-left: 1.7rem;
}

.img-two{
    box-shadow: 0px 5px #FF0000;
    margin-bottom: 0.5rem;
 }
