header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0em;
  position: absolute;
  width: 100%;
}

.categories {
  display: flex;
}

.categories p {
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.5em;
}

.categories p:hover {
  cursor: pointer;
}

.input-div {
  display: flex;
  background-color: #fff;
  margin-left: 5rem;
}

.input-div img {
  width: 1.5rem;
  margin-left: 0.5em;
  margin-top: 0.2em;
}

.input-div input {
  border: none;
  padding: 0.5em;
}

.input-div input::placeholder {
  padding-left: 0.5rem;
}

.bag-image {
  width: 1.5rem;
}

.logo {
  width: 3rem;
}

@media (max-width: 800px) {
  .categories p {
    font-size: 1rem;
  }

  .logo {
    width: 2.5rem;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 2.5rem;
  }

  .categories {
    display: none;
  }

  .input-div {
    margin-top: 0.3em;
  }

  .input-div input {
    border: none;
    padding: 0.2em;
  }
}
